{# ==============================================================================
   TEMPLATE: dhcp.rsc.j2
   Consumes: dhcp_pools, dhcp_servers, dhcp_networks, dhcp_static_leases
             (from group_vars/routers/dhcp.yml + vars.yml)
============================================================================== #}

# ==============================================================================
# SECTION: DHCP
# ==============================================================================

# --- IP Address Pools ---------------------------------------------------------
/ip pool
{% for pool in dhcp_pools %}
add name={{ pool.name }} ranges={{ pool.ranges }}
{% endfor %}

# --- DHCP Servers -------------------------------------------------------------
/ip dhcp-server
{% for server in dhcp_servers %}
add address-pool={{ server.pool }} interface={{ server.interface }} name={{ server.name }}{% if server.comment is defined %} # {{ server.comment }}{% endif %}

{% endfor %}

# --- DHCP Network Definitions -------------------------------------------------
/ip dhcp-server network
{% for network in dhcp_networks %}
add address={{ network.address }}{% if network.dns_server is defined %} dns-server={{ network.dns_server }}{% endif %} gateway={{ network.gateway }}
{% endfor %}

# --- Static DHCP Leases -------------------------------------------------------
/ip dhcp-server lease
{% for lease in dhcp_static_leases %}
add address={{ lease.address }} client-id={{ lease.client_id }}{% if lease.comment is defined %} comment="{{ lease.comment }}"{% endif %} mac-address={{ lease.mac_address }} server={{ lease.server }}
{% endfor %}
